{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% extends 'main/base.html' %}

{% block content %}
  <div id="calendar"></div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'bootstrap_calendar/js/calendar.min.js' %}"></script>
  <script>
    $('#calendar').calendar({
      events_source: {% autoescape off %}{{ events|json_script:"events-data" }}{% endautoescape %},
      tmpl_path: '{% static 'bootstrap_calendar/tmpls/' %}',
      view: 'month',
      language: 'ru-RU',
    });
  </script>
{% endblock %}
